@using PersonalWebsite.Services.Models
@model AddCategoryViewModel
@{
}
<p>Add New Category</p>
@Html.LabelFor(x =>x.Name)
@Html.EditorFor(x => x.Name)

@Html.LabelFor(x => x.Tittle)
@Html.EditorFor(x => x.Tittle)

<button onclick="AdminCategory.AddCategory('@Url.Action("Add", "Category", new { Area = "Admin" })', $('#Name').val(), $('#Tittle').val())">Add</button>