@using PersonalWebsite.Services.Models
@model EditCategoryViewModel
@{
}
<h4>Edit Category</h4>
@Html.HiddenFor(x => x.CategoryId)

<form class="form">
    <div class="form-group">
        <label asp-for="Name" class="sr-only"></label>
        <div class="input-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Tittle" class="sr-only"></label>
        <div class="input-group">
            <input asp-for="Tittle" type="text" class="form-control" placeholder="Tittle">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="AdminCategory.SaveCategory('@Url.Action("Edit", "Category", new { Area = "Admin" })', @Model.CategoryId, $('#Name').val(), $('#Tittle').val())">Save</button>
    <button type="button" class="btn btn-warning" onclick="AdminCategory.Cancel('@Url.Action("GetAddForm", "Category", new { Area = "Admin" })')">Cancel</button>
    <button type="button" class="btn btn-danger" onclick="AdminCategory.Delete('@Url.Action("Delete", "Category", new { Area = "Admin" })',@Model.CategoryId)">Delete</button>
</form>