@using PersonalWebsite.Services.Models
@model List<CategoryViewModel>
@{
}
<table>
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Title
            </th>
            <th>
                Uses
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td><a class="category-edit-button" href="#" onclick="AdminCategory.EditCategory('@Url.Action("GetEditCategoryComponent", "Category", new { Area = "Admin" })',@category.CategoryId)">@category.Name</a></td>
                <td>@category.Tittle</td>
                <td><a href="@category.CategoryId"> @category.Uses</a> </td>
                <td><a href="#" onclick="AdminCategory.Delete('@Url.Action("Delete", "Category", new { Area = "Admin" })',@category.CategoryId)"> X</a></td>
            </tr>
        }
    </tbody>
</table>
