@using PersonalWebsite.Services.Models
@model Sakura.AspNetCore.IPagedList<SimplifiedPostViewModel>

@{
    Layout = "_Layout";
}

<div class="full-width-img"></div>
<div class="container">
    <div class="row">
        <div class="card card-block blog-nav">
            @await Component.InvokeAsync("MapOfAdventuresComponent")
        </div>
        <div class="col-md-8 blog-list">
            <div id="Post-List">

                @foreach (var post in Model)
                {
                    <div class="post-item-box card">
                        @if (!string.IsNullOrEmpty(post.ImgURL))
                        {<a href='@Url.Action("Adventure","Home", new {id = @post.Name })'>
                            <img class="card-img-top img-fluid" src="@Url.Content("~/"+post.ImgURL)" alt="@post.Name ">
                        </a>
                        }
                        <div class="card-block">
                            <span><h4 class="card-title post-item-box-tittle"><a href='@Url.Action("Adventure","Home", new {id = @post.Name })'>@post.Title</a></h4></span>
                            <h6 class="card-subtitle post-item-subtitle">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Łukasz Świderski
                                @if (post.Categories.Count > 0)
                                {
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                }
                                
                                @foreach (var category in post.Categories)
                                {
                                    <a asp-controller="Home" asp-action="Category" asp-route-id="@category.Name">@category.Tittle </a>
                                }
                                @if (post.Tags.Count > 0)
                                {
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                }
                                @foreach (var tag in post.Tags)
                                {
                                    <a asp-controller="Home" asp-action="Tag" asp-route-id="@tag.Name">#@tag.Name </a>
                                }
                                @if (post.PublishedOn.HasValue)
                                {
                                    <span class="post-item-data">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                                        
                                            @post.PublishedOn.Value.ToString("dd MMM yyyy")
                                        
                                    </span>
                                }
                            </h6>

                            <p class="card-text ">@post.Excerpt</p>
                            <div class="text-xs-right">
                                <div class="show-more card-link">
                                    <a href='@Url.Action("Adventure","Home", new {id = @post.Name })'>Show more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <nav aria-label="Page navigation">
                <pager setting-item-attr-class="page-item" setting-link-attr-class="page-link" />
            </nav>
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("SidebarComponent")
        </div>
    </div>
</div>

@section Scripts {

}