@using PersonalWebsite.Services.Models
@model List<SimplifiedPostViewModel>

@{
    Layout = "_Layout";
}

<div id="Post-List">

    @foreach (var post in Model)
    {
        <div class="post-item-box">
            <span><h2><a href='@Url.Action("Index","Blog", new {id = @post.Name })'>@post.Title</a></h2></span>
            <span>
                Categories:
            @foreach (var category in post.Categories)
            {
                <a href="@category.Name">@category.Tittle </a>
            }</span>

            <p>@post.Excerpt</p>
            <span>
                Tags:
                @foreach (var tag in post.Tags)
                {
                    <a href="@tag.Name">@tag.Name </a>
                }
            </span>
        </div>
    }
</div>