@using System.Runtime.InteropServices.ComTypes
@using PersonalWebsite.Services.Models
@model List<SimplifiedPostViewModel>


@foreach (var post in Model)
{<div class="col-md-6">
        <div class="card">
            @if (!string.IsNullOrEmpty(post.ImgURL))
            {
                <a href='@Url.Action("Blog","Home", new {id = @post.Name })'>
                    <img class="card-img-top img-fluid" src="@Url.Content("~/"+post.ImgURL)" alt="@post.Name ">
                </a>

            }
            <div class="card-block">
                <div class="card-title"><h4 class="post-item-box-tittle"><a href='@Url.Action("Blog","Home", new {id = @post.Name })'>@post.Title</a></h4></div>
                <p class="card-text">
                    @foreach (var category in post.Categories)
                {
                        <a asp-controller="Home" asp-action="Category" asp-route-id="@category.Name">@category.Tittle</a>

                    }
                    </p>
</div>
        </div>
    </div>
}

