@using System.Runtime.InteropServices.ComTypes
@using PersonalWebsite.Services.Models
@model List<SimplifiedPostViewModel>


@foreach (var post in Model)
{
     <div class="card  text-xs-center">
         <div class="card-block">
             @if (post.PublishedOn.HasValue)
             {
                <span>
                    <small class="text-muted">@post.PublishedOn.Value.ToString("dd MMM yyyy")</small>
                </span>
             }
             <h4 class="card-title"><a href='@Url.Action("Blog", "Home", new {id = @post.Name})'>@post.Title</a></h4>
             <h6 class="card-subtitle post-item-subtitle">
                 <p class="card-text">
                     @foreach (var category in post.Categories)
                     {
                         <a asp-controller="Home" asp-action="Category" asp-route-id="@category.Name">@category.Tittle</a>

                     }
                 </p>

             </h6>
         </div>
         @if (!string.IsNullOrEmpty(post.ImgURL))
         {
             <a href='@Url.Action("Blog", "Home", new {id = @post.Name})'>
                 <img class="card-img img-fluid" src="@Url.Content("~/" + post.ImgURL)" alt="@post.Name ">
             </a>

         }
             <div class="card-block text-xs-left">
                 <p class="=card-text">@post.Excerpt</p>

             </div>
         </div>
}

