@using System.Runtime.InteropServices.ComTypes
@using PersonalWebsite.Services.Models
@model List<SimplifiedPostViewModel>



<div class="post-item-box card card-inverse">

    @foreach (var post in Model)
    {

        <a href='@Url.Action("Blog", "Home", new {id = @post.Name})'>
            @if (!string.IsNullOrEmpty(post.ImgURL))
            {
                <img class="card-img-top card-img img-fluid latestpost-img" src="@Url.Content("~/" + post.ImgURL)" alt="@post.Name ">
                <div class="latestpost-text">
                    <h2>@post.Title</h2>
                    <h6>
                        @foreach (var category in post.Categories)
                        {
                            @(category.Tittle + " ")
                        }
                    </h6>
                </div>
            }
        </a>


    }

</div>