@using System.Runtime.InteropServices.ComTypes
@using PersonalWebsite.Services.Models
@model List<UltraSimplifiedPostViewModel>


<div class="post-item-box card card-inverse">

    @foreach (var post in Model)
    {
        <div class="card-title ">
            <span><h4 class="card-title post-item-box-tittle"><a href='@Url.Action("Blog", "Home", new {id = @post.Name})'>@post.Title</a></h4></span>
        </div>
        if (!string.IsNullOrEmpty(post.ImgURL))
        {
            <a href='@Url.Action("Blog","Home", new {id = @post.Name })'>
                <img class="card-img-top card-img img-fluid" src="@Url.Content("~/"+post.ImgURL)" alt="@post.Name ">
            </a>

        }




    }

</div>